@(house: House, images: List[HPicture], isEditable: Integer)

@main("House profile", 3){
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/hprofile.css")">
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyARHg16GGE4D__QlGdiazxRTXuUxhS6Ros&sensor=false"></script>

<div class="container ui-body">
	<div class="header">
		<h2 class="text-muted">@house.name</h2>
		@if(session().get("email")!=null&&session().get("email")!=house.owner.email){
			@if(Users.find.byId(session().get("email")).subscribeTo.contains(house)){
			<a href="javascript:void(0)" id="unsubscribe-button" class="btn">Unsubscribe</a>
			}else{
			<a href="javascript:void(0)" id="subscribe-button" class="btn">Subscribe</a>
			}
		}
	</div>
	<div id="housing-carousel" class="carousel slide">
		<ol class="carousel-indicators">
    			<li data-target="#housing-carousel" data-slide-to="0" class="active"></li>
    			<li data-target="#housing-carousel" data-slide-to="1"></li>
    			<li data-target="#housing-carousel" data-slide-to="2"></li>
    			<li data-target="#housing-carousel" data-slide-to="3"></li>
  			</ol>
	
  			<!-- Wrapper for slides -->
  			<div class="carousel-inner">
   				<div class="item carousel-img active" style="height:300px"><img src="@routes.Assets.at("images/image1.jpg")" alt="0"></div>
    			<div class="item carousel-imgm" style="height:300px"><img src="@routes.Assets.at("images/image2.jpg")" alt="1"></div>
    			<div class="item carousel-img" style="height:300px"><img src="@routes.Assets.at("images/image3.jpg")" alt="2"></div>
    			<div class="item carousel-img" style="height:300px"><img src="@routes.Assets.at("images/No-image-available.jpg")" alt="3"></div>
  			</div>
	
  			<!-- Controls -->
  			<a class="left carousel-control" href="#housing-carousel" data-slide="prev">
    			<span class="glyphicon glyphicon-chevron-left"></span>
  			</a>
  			<a class="right carousel-control" href="#housing-carousel" data-slide="next">
    			<span class="glyphicon glyphicon-chevron-right"></span>
  			</a>
	</div>
	<div class="ui-body-section">
		<div class="section-inner">
			<div class="row">
				<div class="col-md-3"><p>Owner: </p></div>
				<div class="col-md-5"><p><a href="@routes.UserProfile.profile(house.owner.email)">@house.owner.fname @house.owner.lname</a> (@house.owner.email)</p></div>
			</div>
			<div class="row">
				<div class="col-md-3"><p>Type: </p></div>
				<div class="col-md-5"><p>@house.houseType</p></div>
			</div>
			<div class="row">
				<div class="col-md-3"><p>Size: </p></div>
				<div class="col-md-5"><p>@house.size ft&sup2</p></div>
			</div>
			<div class="row">
				<div class="col-md-3"><p>Price: </p></div>
				<div class="col-md-5"><p>$@house.price </p></div>
			</div>
			<div class="row">
				<div class="col-md-3"><p>Area: </p></div>
				<div class="col-md-5"><p>@house.area</p></div>
			</div>
			<div class="row">
				<div class="col-md-3"><p>Surrounding: </p></div>
				<div class="col-md-5"><p>@house.neighbor</p></div>
			</div>
			<div class="row">
				<div class="col-md-3"><p>Rate: </p></div>
				<div class="col-md-3"><p>@BigDecimal(house.rate).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble/5</p></div>
				<div class="btn-group">
					<button type="button" class="btn btn-xs btn-info" disabled><span class="glyphicon glyphicon-star"></span></button>
					<button type="button" class="btn btn-xs btn-info" data-toggle="dropdown">
    					<span class="caret"></span>
    					<span class="sr-only">Toggle Dropdown</span>
  					</button>
  					<ul class="dropdown-menu" role="menu">
    					<li><a href="@routes.Houses.rate(house.id, 1)">1</a></li>
    					<li><a href="@routes.Houses.rate(house.id, 2)">2</a></li>
   						<li><a href="@routes.Houses.rate(house.id, 3)">3</a></li>
    					<li><a href="@routes.Houses.rate(house.id, 4)">4</a></li>
    					<li><a href="@routes.Houses.rate(house.id, 5)">5</a></li>
  					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"><p>Availability: </p></div>
				<div class="col-md-5"><p>@house.availability</p></div>
			</div>
		</div>
	</div>
	<div class="inner-tool-bar">
		<ul class="nav nav-tabs" id="myTab">
  			<li><a href="#description" data-toggle="tab">Description</a></li>
  			<li><a href="#address" data-toggle="tab">Address</a></li>
  			<li><a id="map-tab" href="#map" data-toggle="tab">Map</a></li>
  			<li><a href="#comment" data-toggle="tab">Comments</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="description">
				<br>
				<blockquote>
					@if((house.description!=null)&&house.description.equals("")){
  					<p style="font-style: italic;">No description provided by owner.</p>
  					}else{
  					<p>@house.description</p>
  					}
  					
  					@if((house.requirements!=null)&& !house.requirements.equals("")){
  					<p>Owner requirements</p><br>
  					<p>@house.requirements</p>
  					}
				</blockquote>
				<blockquote>
					<h5>Transportation: </h5>
					<p>@for(t <- house.transportations){@t.line }</p>
				</blockquote>
				<blockquote>
					<h5>Services: </h5>
					<p>
					@if(house.services.water==1){water&nbsp; }
					@if(house.services.gas==1){gas&nbsp; }
					@if(house.services.heat==1){heat&nbsp;}
					@if(house.services.internet==1){internet&nbsp;}
					@if(house.services.fitness==1){fitness&nbsp;}
					@if(house.services.laundry==1){laundry&nbsp;}
					@if(house.services.parking==1){parking&nbsp;}
					</p>
				</blockquote>
			</div>
  			<div class="tab-pane" id="address">
  				<br>
  				<blockquote>
  				<address>
  					@house.addressLine1<br>
  					@if(!house.addressLine2.equals("")){@house.addressLine2<br>}
  					@house.city, @house.state @house.zipCode<br>
  					<abbr title="Phone">P:</abbr> @Users.find.byId(house.owner.email).phone
				</address>
				</blockquote>
  			</div>
  			<div class="tab-pane" id="map">
  				<div id="googleMap"></div>
  			</div>
  			<div class="tab-pane" id="comment">
  			@if(session().get("email")!=null){
  				<div class="ui-comment-input">
  					<form class="form-horizontal " role="form" method="POST" action="@routes.Houses.commentPost(house.id)">
  						<div class="form-group">
  							<textarea name="comment" class="form-control" rows="3" placeholder="Leaving your comment here ..."></textarea>
  						</div>
  						<div class="form-group">
  							<button type="submit" class="btn btn-default">Submit</button>
  						</div>
  					</form>
  				</div>
  			}
  				<hr>
  				@for(comment <- Comment.getCommentsByHouse(house.id)){
  					<div class="ui-comment-board">
  					<blockquote>
  						<p>@comment.content 
  							@if(comment.user.email==session().get("email")){<a href="@routes.Houses.commentDelete(comment.id)" class="btn btn-xs close">&times;</a>}
  						</p>
  						<small><a href="@routes.UserProfile.profile(comment.user.email)">@comment.user.name</a> at <i>@comment.createTime</i></small>
  					</blockquote>
  					</div>
  				}
  			</div>
		</div>
		
		<br><br><br><br>
	</div>
</div>

<script>
$('#subscribe-button').click(function(){
	var e = '@house.id';
	var jdata = { houseID: e};
	$.post('@routes.UserProfile.subscribeHouse()', jdata).done(function(){
		location.reload();
	});
});

$('#unsubscribe-button').click(function(){
	var e = '@house.id';
	var jdata = {houseID: e};
	$.post('@routes.UserProfile.unsubscribeHouse()', jdata).done(function(){
		location.reload();
	});
});

var map;
var geocoder;
var address = "@house.addressLine1, @house.addressLine2, @house.city, @house.state, @house.zipCode";
function initialize(){
	geocoder = new google.maps.Geocoder();
	var mapProp = {
		center: new google.maps.LatLng(-34.397, 150.644),
  		zoom:13,
  	    navigationControl: true,
  	    mapTypeId: google.maps.MapTypeId.ROADMAP
  	};
	map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
	if(geocoder){
		geocoder.geocode({'address':address}, function(results, status){
			if(status == google.maps.GeocoderStatus.OK){
				if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
					map.setCenter(results[0].geometry.location);
					var marker = new google.maps.Marker({
		                position: results[0].geometry.location,
		                map: map, 
		                title:address
		            }); 
				}
			}
		});
	}
}
google.maps.event.addDomListener(window, 'load', initialize);

$('#map-tab').on('shown', function(e){
	google.maps.event.trigger(map, 'resize');
	initialize();
});
</script>
}