body {
    padding-top: 100px;
}

.sidebar-nav {
    height: 600px;
}

.profileImage {
    height: 200px;
    weight: 200px;
}

.profileImage img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.username {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 30px;
    font-family: impact;
    font-weight: 300;
    text-align: center;
}

.username > a {
    color: black;
}

.quickLinkText {
    font-size: 20px;
    font-family: fantasy;
    font-style: oblique;
    text-align: center;
}

.customNumber1 {
    font-size: 22px;
    font-family: verdana;
    text-align: center;
    font-weight: bold;
}

.profileButton1 {
    margin-top: 50px;
}

.text {
    font-size:16px;
    font-weight: 200;
}

.error {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.star {
    color: red;
    font-size: 14px;
}

.help-block {
    position: relative;
    left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    font-size: 12px;
}

.main-win {
    min-height: 700px;
}

label.error {
    font-size: 14px;
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
    font-weight: 200;
}

.ui-icon {
    width: 100px;
    height: 100px;
}