.header {
    margin-top: 20px;
    margin-bottom: 0px;
}

.header .text {
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
}

.editButton {
    margin-top: 30px;
}

.hdivider {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 40px;
}

.info {
    margin-bottom: 10px;
}

.info .text {
    font-size:16px;
    font-weight: 200;
}

.info .infoText {
    font-size:16px;
    font-style: italic;
}

.error {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.star {
    color: red;
    font-size: 14px;
}

.star-adjacent {
    position: relative;
    left:-10px;
}

.help-block {
    position: relative;
    left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    font-size: 12px;
}

.customButton {
    margin:auto;
    width:45%;
}