@(user: Users, logUser: Users, isEditable: Integer, mainWindow: String)

@main("Profile", logUser, 3) {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profileFrame.css")">
	
	<div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar" role="navigation">
		<div class="well sidebar-nav">
			<br>
			<div class="profileImage">
				<img src="@routes.Assets.at("images/profile_pic/" + user.profileImage)" alt="profileImage" class="img-thumbnail">
			</div>
			<p class ="username">@user.name</p>
			<br>
			<hr>
			
			<!-- Show subscribe, follow, and listing -->
			<div class="col-sm-3">
				<p class="text-center quickLinkText">Subscribe</p>
			</div>
			<div class="col-sm-3 col-sm-offset-1">
				<p class="text-center quickLinkText">Follow</p>
			</div>
			<div class="col-sm-3 col-sm-offset-1">
				<p class="text-center quickLinkText">Listing</p>
			</div>
			<!-- number of subscribe, foloow, and listing -->
			<div class="col-sm-3">
				<p class="text-center customNumber1"><a href="#">@user.subscribeTo.length</a></p>
			</div>
			<div class="col-sm-3 col-sm-offset-1">
				<p class="text-center customNumber1"><a href="#">@user.followTo.length</a></p>
			</div>
			<div class="col-sm-3 col-sm-offset-1">
				@if(user.isHouseProvider==1){
					<p class="text-center customNumber1"><a href="#">1</a></p>
				}else{
					<p class="text-center customNumber1">0</p>
				}
			</div>
			<br>
			<!-- Button to edit profile or apply for house provider -->
			@if(isEditable==1){
				<div class="col-md-10 col-md-offset-2 profileButton1">
					@if(user.isHouseProvider==0){
						<a href="#" class="btn btn-info">Apply for Houses Provider</a>
					}else{
						<a href="#" class="btn btn-info disabled">Apply for Houses Provider</a>
					}
				</div>
			}
		</div>
	</div>
	
	<div class="well col-md-7 col-sm-offset-0" style="height: 600px">
		<!-- States for main window section -->
		@if(mainWindow.equals("info")){
			@views.html.profile.info(user, isEditable)
		}
	</div>
	
	<br>
}