@(provider: HouseProvider, form: Form[House])

@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapHouseForm.render) }

<!-- Modal to add house -->
<div class="modal fade" id="CreateHouseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
      	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title">Add a new house</h4>
        	</div>
        	<div class="modal-body">
          		@helper.form(routes.ProviderProfile.addHouse(provider.email), 'id -> "add-house-form",'class -> "form-horizontal", 'role -> "form") {
        		<fieldset>
        			<br>
        			<div class="form-group">
            			@helper.inputText(
            				form("name"),
           					'class -> "form-control",
           					'id -> "add-name",
           					'_label -> "Name",
           					'name -> "name"
           				)
           					
           				@helper.select(
            				form("houseType"),
            				helper.options("studio"->"Studio", "one bedroom"->"One Bedroom", "two bedroom"->"Two Bedrrom", "three bedroom"->"Three Bedroom"),
            				'id -> "add-houseType",
           					'_label -> "House Type", 
           					'name -> "houseType",
           					'_default -> "-- Select Type --",
           					'_showConstraints -> false,
           					'class -> "form-control"
           				)
           					
        				@helper.inputText(
            				form("size"),
           					'class -> "form-control",
           					'id -> "add-size",
           					'_label -> "Size",
           					'name -> "size"
           				)
           					
           				@helper.select(
           					form("leasingType"),
           					helper.options("sublease"->"Sublease", "one year"->"One year contract", "month"->"Month based", "negotiated"->"Negotiatable"),
           					'id -> "add-leasingType",
           					'name -> "leasingType",
           					'_label -> "Leasing Type", 
           					'_default -> "-- Select Type --",
           					'_showConstraints -> false,
           					'class -> "form-control"
           				)
            				
            			@helper.inputText(
            				form("price"),
            				'class -> "form-control",
           					'id -> "add-price",
           					'_label -> "Price",
           					'name -> "price"
           				)
            				
           				@helper.inputText(
           					form("availability"),
           					'class -> "form-control",
           					'id -> "add-availability",
           					'_label -> "Availability",
           					'name -> "Availability"
           				)
           					
           				@helper.inputText(
           					form("addressLine1"),
           					'class -> "form-control",
         					'id -> "add-address1",
          					'_label -> "Address 1",
         					'placeholder -> "Number, Street/Road/Ave ",
          					'name -> "addressLine1"
           				)
           					
           				@helper.inputText(
           					form("addressLine2"),
          					'class -> "form-control",
           					'_label -> "Address 2",
          					'id -> "add-address2",
           					'placeholder -> "Suit, Apt, House"
           				)
           					
           				@helper.inputText(
            				form("city"),
           					'class -> "form-control",
           					'id -> "add-city",
           					'_label -> "City",
          					'name -> "city"
           				)
           					
          				@helper.select(
            				form("state"),
           					helper.options(State.options),
           					'id -> "add-state",
           					'_label -> "State", 
           					'_default -> "-- Select State --",
           					'_showConstraints -> false,
           					'class -> "form-control",
           					'name -> "state"
           				)
            				
           				@helper.inputText(
           					form("zipCode"),
        					'class -> "form-control",
           					'id -> "add-zip",
           					'_label -> "zip",
           					'name -> "zip"
           				)
           					
           				@helper.inputText(
           					form("requirement"),
           					'class -> "form-control",
           					'id -> "requirement",
           					'_label -> "Requirement"
          				)
           					
           				@helper.textarea(
           					form("description"),
           					'class -> "form-control",
           					'rows -> "3",
           					'_label -> "Description (Max. 200 characters)",
           					'id -> "desc"
           				)
        			</div>	
        		</fieldset>
        			
        	</div>
        	<div class="modal-footer form-group action">
          		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         		<button type="submit" class="btn btn-primary" id="add-submit-button">Submit</button>
       		</div>
       		}
     	</div>
    </div>
</div>

<!--       profileModal         -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog">
      		<div class="modal-content">
        		<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          			<h4 class="modal-title">Modify your Profile</h4>
        		</div>
        		<div class="modal-body">
          			<form role="form" id="edit-profile-form" method="post" action="@routes.ProviderProfile.editProfile(provider.email)">
          				<div class="form-group">
          					<div class="clearfix">
								<div class="col-md-7 col-md-offset-2">
   									<label for="occupation" class="control-label text">Occupation<span class="star">*</span></label>
									<input type="text" class="form-control" name="occupation" id="occupation" value="@provider.occupation">
								</div>
							</div>
          				</div>
          				<div class="form-group">
          					<div class="clearfix">
								<div class="col-md-7 col-md-offset-2">
   									<label for="providerType" class="control-label text">Type<span class="star">*</span></label>
   									<select class="form-control" name="providerType">
   										<option>agency</option>
   										<option>individual</option>
   										<option>corporate</option>
   									</select>
								</div>
							</div>
          				</div>
          				<div class="form-group">
          					<div class="clearfix">
								<div class="col-md-7 col-md-offset-2">
   									<label for="addressLine1" class="control-label text">Address 1<span class="star">*</span></label>
									<input type="text" class="form-control" name="addressLine1" id="addressLine1" value="@provider.addressLine1">
								</div>
							</div>
          				</div>
          				<div class="form-group">
          					<div class="clearfix">
								<div class="col-md-7 col-md-offset-2">
   									<label for="addressLine2" class="control-label text">Address 2</label>
									<input type="text" class="form-control" name="addressLine2" id="addressLine2" value="@provider.addressLine2">
								</div>
							</div>
          				</div>
          				<div class="form-group">
          					<div class="clearfix">
								<div class="col-md-7 col-md-offset-2">
   									<label for="city" class="control-label text">City<span class="star">*</span></label>
									<input type="text" class="form-control" name="city" id="city" value="@provider.city">
								</div>
							</div>
          				</div>
          				<div class="form-group">
          					<div class="clearfix">
								<div class="col-md-7 col-md-offset-2">
   									<label for="states" class="control-label text">State<span class="star">*</span></label>
   									<select class="form-control" name="states">
   										@for(state <- State.optionList){
   											<option>@state</option>
   										}
   									</select>
								</div>
							</div>
          				</div>
          				<div class="form-group">
          					<div class="clearfix">
								<div class="col-md-7 col-md-offset-2">
   									<label for="zipCode" class="control-label text">Zip<span class="star">*</span></label>
									<input type="text" class="form-control" name="zipCode" id="zipCode" value="@provider.zipCode">
								</div>
							</div>
          				</div>
          				<div class="form-group">
          					<div class="clearfix">
								<div class="col-md-7 col-md-offset-2">
   									<label for="description" class="control-label text">Description</label>
   									<textarea class="form-control" rows="3" name="description" id="description">@provider.description</textarea>
								</div>
							</div>
          				</div>
          			
        		</div>
        		<div class="modal-footer form-group action">
          			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          			<button type="submit" class="btn btn-primary">Submit</button>
        		</div>
        		</form>
      		</div>
    	</div>
  	</div>