@()

@main("contact", 2){
	<style>
		.ui-contact-body{
			margin-top:100px;
		}
		
		.ui-contact-window{
			margin-top:20px;
			width:500px;
			margin-left:auto;
			margin-right:auto;
			min-height: 300px;
		}
		
		.ui-contact-window > h2 ,
		.ui-contact-window > p {
			text-align: center;
		}
		
		.ui-contact-window > hr {
			width: 300px;
			margin-bottom: 30px;
		}
		
	</style>
	
	<div class="container ui-contact-body">
		<div class="well ui-contact-window">
			<h2>Contact</h2>
			<hr>
			<p>Administrator: Terry Chen</p>
			<p>Contact Email: <a href="mailto:xxc51@@case.edu">xxc51@@case.edu</a></p>
			<p>Contact Phone: (216) 915-3321</p>
		</div>
	</div>
}