@(user: Users, isEditable: Integer)
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profileInfo.css")">
	
	<style>
		.text > a {
			color: black;
		}
	</style>
	
	<br>
	<div class="col-md-6 col-md-offset-1 header">
		<p class="text">User Following</p>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<hr class="hdivider">
	</div>
	
	<div class="col-md-10 col-md-offset-1">
		<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
		<thead>
		<tbody>
		@user.followTo.map { follow =>
			<tr>
           	<td><a href="@routes.UserProfile.profile(follow.email)">@follow.name</a></td>
			<td>@follow.email</td>
			<td>@follow.phone</td>
			</tr>
        }
        </tbody>
        </table>
	</div>
	
