@(user: Users, logUser: Users, isEditable: Integer, mainWindow: String, providerForm: Form[HouseProvider])

@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapApplicationInput.render) }

@main("Profile", logUser, 3) {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profileFrame.css")">
	<script language="javascript" type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<div class="container">
	<div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar" role="navigation">
		<div class="well sidebar-nav">
			<br>
			<div class="profileImage">
				<img id="profilePic" src="@routes.Assets.at("images/profile_pic/" + user.profileImage)" alt="profileImage" class="img-thumbnail" data-toggle="tooltip" title="Click to change profile picture">
			</div>
			<p class ="username"><a href="@routes.UserProfile.profile(user.email)">@user.name</a></p>
			@if(isEditable==0&&(logUser!=null)){
				<div class="button-wrapper">
				@if(logUser.followTo.contains(user)){
				<a href="@routes.UserProfile.unfollowUser(user.email)"><button class="btn btn-xs btn-primary">Unfollow</button></a>
				}else{
				<a href="@routes.UserProfile.followUser(user.email)"><button class="btn btn-xs btn-primary">Follow</button></a>
				}
				</div>
			}
			<br>
			<hr>
			
			<!-- Show subscribe, and follow -->
			<div class="row">
			<div class="col-sm-6">
				<p class="text-center quickLinkText">Subscribe</p>
			</div>
			<div class="col-sm-6 ">
				<p class="text-center quickLinkText">Follow</p>
			</div>
			</div>
			<!-- number of subscribe and follow -->
			<div class="row">
			<div class="col-sm-6">
				<p class="text-center customNumber1"><a href="@routes.UserProfile.getSubscribe(user.email)">@user.subscribeTo.length</a></p>
			</div>
			<div class="col-sm-6">
				<p class="text-center customNumber1"><a href="@routes.UserProfile.getFollow(user.email)">@user.followTo.length</a></p>
			</div>
			</div>
			<br>
			<!-- Button to edit profile or apply for house provider -->
			
				<div class="button-wrapper profileButton1">
					@if((user.isHouseProvider==0)&&(isEditable==1)){
						<a data-toggle="modal" href="#ApplicationModal" class="btn btn-info">Apply for Houses Provider</a>
					}else{
						@if(user.isHouseProvider==1){
						<a href="@routes.ProviderProfile.profile(user.email)" class="btn btn-info">House Provider Profile</a>
						}
					}
				</div>
			
		</div>
	</div>
	
	<div class="modal fade" id="uploadModal" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
		<div class ="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dimiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">choose your profile image</h4>
				</div>
				<div class="modal-body">
					<a href="@routes.UserProfile.profileImageChange("artist.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/artist.png")" alt="artist" class="img-thumbnail ui-icon" >
					</a>
					<a href="@routes.UserProfile.profileImageChange("cleaner.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/cleaner.png")" alt="cleaner" class="img-thumbnail ui-icon">
					</a>
					<a href="@routes.UserProfile.profileImageChange("babysitter.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/babysitter.png")" alt="babysitter" class="img-thumbnail ui-icon">
					</a>
					<a href="@routes.UserProfile.profileImageChange("postman.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/postman.png")" alt="postman" class="img-thumbnail ui-icon">
					</a>
					<a href="@routes.UserProfile.profileImageChange("bartender.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/bartender.png")" alt="bartender" class="img-thumbnail ui-icon">
					</a>
					<a href="@routes.UserProfile.profileImageChange("pilot.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/pilot.png")" alt="pilot" class="img-thumbnail ui-icon">
					</a>
					<a href="@routes.UserProfile.profileImageChange("painter.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/painter.png")" alt="painter" class="img-thumbnail ui-icon">
					</a>
					<a href="@routes.UserProfile.profileImageChange("director.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/director.png")" alt="director" class="img-thumbnail ui-icon">
					</a>
					<a href="@routes.UserProfile.profileImageChange("chemist.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/chemist.png")" alt="chemist" class="img-thumbnail ui-icon">
					</a>
					<a href="@routes.UserProfile.profileImageChange("designer.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/designer.png")" alt="designer" class="img-thumbnail ui-icon">
					</a>
					<a href="@routes.UserProfile.profileImageChange("engineer.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/engineer.png")" alt="engineer" class="img-thumbnail ui-icon">
					</a>
					<a href="@routes.UserProfile.profileImageChange("barber.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/barber.png")" alt="barber" class="img-thumbnail ui-icon">
					</a>
					<a href="@routes.UserProfile.profileImageChange("doctor.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/doctor.png")" alt="doctor" class="img-thumbnail ui-icon">
					</a>
					<a href="@routes.UserProfile.profileImageChange("environmentalist.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/environmentalist.png")" alt="environmentalist" class="img-thumbnail ui-icon">
					</a>
					<a href="@routes.UserProfile.profileImageChange("worker.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/worker.png")" alt="worker" class="img-thumbnail ui-icon">
					</a>
					<a href="@routes.UserProfile.profileImageChange("mover.png",user.email)">
					<img src="@routes.Assets.at("images/profile_pic/mover.png")" alt="mover" class="img-thumbnail ui-icon">
					</a>
				</div>
				<div class="modal-footer form-group action">
          			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		</div>
        			
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="ApplicationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog">
      		<div class="modal-content">
        		<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          			<h4 class="modal-title">Apply for House Provider</h4>
        		</div>
        		<div class="modal-body">
          			@helper.form(routes.UserProfile.processApplication(user.email), 'id -> "appForm", 'class -> "form-horizontal", 'role -> "form") {
						@if(providerForm.hasGlobalErrors) { 
                			<div class="form-group error">
               					<div class="col-md-4 col-md-offset-4">
                   					<p class="text-center text-danger">@providerForm.globalError.message</p>
               					</div>
               				</div>
        				}
        			<fieldset>
        				<br>
        				<div class="form-group">
            				@helper.inputText(
            					providerForm("fname"),
           						'class -> "form-control",
           						'id -> "fname",
           						'_label -> "First Name",
           						'name -> "fname"
           					)
           					
           					@helper.inputText(
            					providerForm("lname"),
           						'class -> "form-control",
           						'id -> "lname",
           						'_label -> "Last Name",
           						'name -> "lname"
           					)
           					
           					@helper.inputText(
            					providerForm("occupation"),
           						'class -> "form-control",
           						'id -> "occupation",
           						'_label -> "Occupation",
           						'name -> "occupation"
           					)
           					
           					@helper.select(
            					providerForm("providerType"),
            					helper.options("individual"->"Individual", "agency"->"Agency", "corporate"->"Corporate"),
            					'id -> "type",
            					'_label -> "Type", 
            					'_default -> "-- Select Type --",
            					'_showConstraints -> false,
            					'class -> "form-control"
            				)
           					
           					@helper.inputText(
            					providerForm("addressLine1"),
           						'class -> "form-control",
           						'id -> "address",
           						'_label -> "Address 1",
           						'placeholder -> "Number, Street/Road/Ave "
           					)
           					
           					@helper.inputText(
            					providerForm("addressLine2"),
           						'class -> "form-control",
           						'_label -> "Address 2",
           						'id -> "address2",
           						'placeholder -> "Suit, Apt, House"
           					)
           					
           					@helper.inputText(
            					providerForm("city"),
           						'class -> "form-control",
           						'id -> "city",
           						'_label -> "City"
           					)
           					
           					@helper.select(
            					providerForm("states"),
            					helper.options(State.options),
            					'id -> "state",
            					'_label -> "State", 
            					'_default -> "-- Select State --",
            					'_showConstraints -> false,
            					'class -> "form-control"
            				)
            				
            				@helper.inputText(
            					providerForm("zipCode"),
           						'class -> "form-control",
           						'id -> "zip",
           						'_label -> "zip"
           					)
           					
           					@helper.textarea(
           						providerForm("description"),
           						'class -> "form-control",
           						'rows -> "3",
           						'_label -> "Description (Max. 200 characters)",
           						'id -> "desc"
           					)
        				</div>	
        			</fieldset>
        			
        		</div>
        		<div class="modal-footer form-group action">
          			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          			<button type="submit" class="btn btn-primary">Submit</button>
        		</div>
        		}
      		</div>
    	</div>
  	</div>
	
	<div class="main-win well col-md-7 col-sm-offset-0" style="height: 600px">
		<!-- States for main window section -->
		@if(mainWindow.equals("info")){
			@views.html.profile.info(user, isEditable)
		}
		@if(mainWindow.equals("edit")){
			@views.html.profile.edit(user)
		}
		@if(mainWindow.equals("follow")){
			@views.html.profile.follow(user, isEditable)
		}
		@if(mainWindow.equals("subscribe")){
			@views.html.profile.subscribe(user, isEditable)
		}
	</div>
	</div>
	
	<br>
	
	<script>
	
		@if(logUser==user){
		$('#profilePic').click(function(){
			$('#uploadModal').modal('show');
		});
		}
		
		$('#appForm').validate({
			rules: {
				fname: "required",
				lname: "required",
				occupation: "required",
				providerType: "required",
				addressLine1: "required",
				city: "required",
				states: "required",
				zipCode : {
					required: true,
					number: true
				}
			}
		});
		
	</script>
}