@(user: Users, isEditable: Integer)
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/profileInfo.css")">
	<br>
	<div class="col-md-6 col-md-offset-1 header">
		<p class="text">User Subscription</p>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<hr class="hdivider">
	</div>
	
	<div class="col-md-10 col-md-offset-1">
		<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Availability</th>
				<th>Last Modified</th>
			</tr>
		<thead>
		<tbody>
		@user.subscribeTo.map { house =>
			<tr>
           	<td><a href="@routes.Houses.profile(house.id)">@house.name</a></td>
			<td>@house.availability</td>
			<td>@house.updatedTime</td>
        }
        </tbody>
        </table>
	</div>